@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables */
:root {
  --background: white;
  --foreground: black;
  --card: white;
  --card-foreground: black;
  --primary: #11244D;
  --primary-foreground: white;
  --secondary: #f9fafb;
  --secondary-foreground: black;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --radius: 0.625rem;
}

.dark {
  --background: #111827;
  --foreground: white;
  --card: #111827;
  --card-foreground: white;
  --primary: white;
  --primary-foreground: black;
  --secondary: #1f2937;
  --secondary-foreground: white;
  --border: #374151;
  --input: #374151;
}

@layer base {
  * {
    @apply border-0;
    box-sizing: border-box; /* Add this for consistent box-sizing */
  }
  body {
    @apply bg-background text-foreground;
    margin: 0; /* Ensure no unintended margin */
    padding: 0; /* Ensure no unintended padding */
  }
}
